<html>
  <head>
    <title>Edit Student</title>
    <link href="/style.css" rel='stylesheet', type='text/css'>
    <title><%= @title || "Student Information System"%></title>
  </head>
  <body>
  <h1>Student Information System</h1>
  <img src="/image/class.jpg" width=100%>
<ul>
<li><a href='/'>Home</a>  </li>
<li><a href='/about'>About</a>  </li>
<li><a href='/contact'>Contact</a>  </li>
<li><a href='/students'>Students</a>  </li>
<li><a href='/comments'>Comment</a>  </li>
<li><a href='/video'>Video</a>  </li>
<li><a href='/logout'>Logout</a>  </li>
  </ul>
    <div>
    <br><br>
      <form method="post" action="/students/<%= @student.sid %>">
        <input type="hidden" name="_method" value="post">
        <label for="fname">First Name:</label>
        <input type="text" id="fname" name="stud[fname]" value=<%= @student.fname %>>
        <br><br>
        <label for="lname">Last Name:</label>
        <input type="text" id="lname" name="stud[lname]" value=<%= @student.lname %>>
        <br><br>
        <label for="address">Address:</label>
        <input type="text" id="address" name="stud[address]" value=<%= @student.address %>>
        <br><br>
        <label for="dob">Date of Birth:</label>
        <input type="date" id="address" name="stud[dob]" value=<%= @student.dob %>>
        <br><br>
        <input type="submit" name="Update" value="Update">
      </form>
    </div>
    <div><a href='/students'>Go Back</a></div>
  </body>
</html>